.site-footer{
    @include flexwrap;
    @include spbtwn;
    padding: 30px;
}

.site-footer--btn{
    background: none;
    border: none;
    height: 40px;
    min-width: 150px;
    font-size: 10px;
    background-color: $maincolor;
    color: $headercolor;
    text-transform: uppercase;
    font-family: $sectiontxt2;
}

.site-footer--form{
    font-size: 0;
    display: flex;
}

.site-footer--link{
    color: $thirdcolor;
}

.site_footer--input{
    font-size: 15px;
    padding: 0;
    width: 150px !important;
    height: 40px !important;
}

.site-footer--text{
    margin: 0;
}

.col-lg-4, .col-12{
    display: flex;
}