.div1{
    font-size: 20px;
    font-family: -apple-system;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    word-spacing: 100px;
    top: 10%;
    left: 25%;
}

.font{
    font-family: Arial;
    color: grey;
}

.block1{
    font-family: -apple-system;
    width: 14.5cm;
    height: 18cm;
    text-align: justify;
    position:absolute; 
    top:40px;
    margin-left: 100px;
}
.block2{
    font-family: -apple-system;
    width: 14.5cm;
    height: 18cm;
    text-align: justify;
    position:absolute; 
    top:40px;
    margin-left: 765px;
}
.block3{
    font-family: -apple-system;
    width: 14.5cm;
    height: 18cm;
    text-align: justify;
    position:absolute; 
    top:800px;
    margin-left: 100px;
}
.block4{
    font-family: -apple-system;
    width: 14.5cm;
    height: 18cm;
    text-align: justify;
    position:absolute; 
    top:800px;
    margin-left: 765px;
}

.mainblock{
    margin-top: 10%;
    height: 1520px;
    position:relative;
}

.position{
    position:absolute;
    top: 101%;
    margin-left: 46%;
    border: black solid;
    height: 40px;
    width: 120px;
    font-family: -apple-system;
    display: flex;
    align-items: center;
    justify-content: center
    
}